<div class="page-container container">
	<div class="header">
		<h1>Notes</h1>
		<div>
			<%- 
			include(`../components/button.ejs`, { context: "New", className: "button button-1", action: "newNote()" } ) 
			-%>
		</div>
	</div>
	<div class="content">
		<div class="note-each" id="note-vent-1" style="background-color: #FEC870;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #FD9C71;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #90C3FC;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #FEC870;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #FEC870;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #FEC870;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #FEC870;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #FEC870;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
		<div class="note-each" style="background-color: #FEC870;">
			<p class="title">Title</p>
			<p class="date">May 21, 2022</p>
		</div>
	</div>	
</div>