<div class="page-container container">
	<div class="header">
		<h1>Settings</h1>
		<div>
		
		</div>
	</div>
	<div class="content">
		<div class="page-nav">
			<p value="home" pos="0" class="active">Home</p>
			<p value="weather" pos="1">Weather</p>
			<p value="notes" pos="2">Notes</p>
			<p value="projects" pos="3">Projects</p>
			<p value="health" pos="4">Health</p>
			<p value="timeline" pos="5">Timeline</p>
			<p value="themes" pos="6">Themes</p>
		</div>
		<div class="page-content">
			<div class="page-content-each active" value="home">
				
			</div>
			<div class="page-content-each" value="weather">
				<div>
					<h2>Weather Units</h2>
					<div>
						<%- 
						include(`../components/selection.ejs`, { list: weather_units, className: "selection selection-1", name: "weather-active", ldefault: weather_selected } ) 
						-%>
						<%- 
						include(`../components/button.ejs`, { context: "Update", className: "button button-1", action: "weatherChange()" } ) 
						-%>
					</div>
				</div>
			</div>
			<div class="page-content-each" value="notes">
			</div>
			<div class="page-content-each" value="projects">
			</div>
			<div class="page-content-each" value="health">
			</div>
			<div class="page-content-each" value="timeline">
			</div>
			<div class="page-content-each" value="themes">
				<div>
					<h2>Active Theme</h2>
					<p>To install themes, download one from the <a href="#">theme explorer</a> and drag the folder to Velosuite/src/files/themes/</p>
					<div>
						<%- 
						include(`../components/selection.ejs`, { list: theme_list, className: "selection selection-1", name: "theme-active", ldefault: theme_name } ) 
						-%>
						<%- 
						include(`../components/button.ejs`, { context: "Update", className: "button button-1", action: "themeChange()" } ) 
						-%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

