<!DOCTYPE HTML> 
<html lang="en">

<head>
	<title>Velosuite</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<!-- Fonts -->
	<link href="../files/themes/default/fonts/OpenSansRegular.ttf" type="text/css" rel="stylesheet"> 
	<link href="../files/themes/default/fonts/RobotoThin.ttf" type="text/css" rel="stylesheet"> 
	<link href="../files/themes/default/fonts/PoppinsRegular.ttf" type="text/css" rel="stylesheet"> 
	<link href="../files/themes/default/fonts/PoppinsSemiBold.ttf" type="text/css" rel="stylesheet"> 
	<!-- Icon -->
	<link rel="icon" href="../files/images/logo/logo-icon.svg" type="image/gif" sizes="16x16">
	<link rel="apple-touch-icon" href="../files/images/logo/logo-icon-180.png">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<!-- JS -->
	<script type="text/javascript" src="../js/global.js"></script>
</head>

<body>



</body>

</html>	