<div class="graph">
	<div class="graph-each active">
		<p>Weather Week</p>
		<canvas id="weather-graph" style="display: block; height: 100%; width: 100%;"></canvas>
	</div>
	<div class="graph-each">
		<p>Next Activities</p>
		<canvas id="timeline-graph" style="display: block; height: 100%; width: 100%;"></canvas>
	</div>
</div>