.input > input,
.input > input::placeholder {
	font-family: var(--poppins);
}

.input-1 {
    position: relative;
}

.input-1 > input{
    border: 2px solid var(--gray-1);
    outline: none;
    width: fit-Content;
    height: 30px;
    padding: 8px 12px;
    border-radius: 8px;
}

.input-1 > input:focus{
    border-color: var(--blue-2);
}

.input-1 > label{
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding: 0 5px;
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
}

.input-1 > .isEmpty + label{
    top: 0px;
    background-color: var(--white-1);
    padding: 0 6px;
    color: var(--blue-2);
    font-size: var(--smafont);
}

.input-3 {
	position: relative;
}

.input-3 > input {
	border: 1px solid var(--blue-1);
	width: calc(100% - 76px);
	padding: 16px 16px 16px 60px;
	border-radius: 8px;
}

.input-3 > input,
.input-3 > input::placeholder {
	color: var(--blue-1);
}

.input-3 > label {
	position:absolute;
    display: block;
	width: 20px;
	height: 20px;
	top: 20px;
	left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}