.input {
    position: relative;
}

.input > input{
    border: 2px solid var(--gray-1);
    outline: none;
    width: fit-Content;
    height: 30px;
    padding: 8px 12px;
    border-radius: 8px;
}

.input > input:focus{
    border-color: var(--blue-2);
}

.input > label{
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding: 0 5px;
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
}

.input > .isEmpty + label{
    top: 0px;
    background-color: var(--white-1);
    padding: 0 6px;
    color: var(--blue-2);
    font-size: var(--smafont);
}
