.progress-container {
	width: 500px !important;
	margin: auto;
}

.progress-bar {
	height: 10px;
	background-color: var(--white-1);
	width: 100%;
	border-radius: 20px;
    border: 1px solid var(--gray-1);
	overflow: hidden;
}

.progress-bar-value {
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(109,148,208,0) 0%, var(--blue-2) 45%, var(--blue-2) 55%, rgba(109,148,219,0) 100%);
	animation: progressbar 1s infinite linear;
	transform-origin: 0% 50%;
}

.progress-bar-value.end {
	animation: progressbarend;
	animation-fill-mode: forwards ;
	transform-origin: unset;
	background:  var(--blue-2);
}

@keyframes progressbar {
	0% {
		transform:  translateX(-20%) scaleX(0);
	}
	50% {
		transform:  translateX(0) scaleX(0.3);
	}
	100% {
		transform:  translateX(100%) scaleX(0.5);
	}
}

@keyframes progressbarend {
	0% {
		transform:  translateX(-20%) scaleX(0);
	}
	100% {
		transform:  translateX(0%) scaleX(1);
	}
}
