.selection  {
	

}

.selection-1 {
	display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.selection .selection-each input[type=radio] {
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	cursor: pointer;
}

.selection-1 .selection-each {
	position: relative;
}

.selection-1 .selection-each label {
	display: block;
	text-transform: capitalize;
	padding: 20px;
	border-radius: 14px;
	background-color: var(--white-1);
	color: var(--black-1);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.selection-1 .selection-each input[type=radio]:checked + label {
	background-color: var(--blue-2);
	color: var(--white-1);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}