.weather {
	position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 20px;
    padding: 20px;
    border-radius: 14px;
    backdrop-filter: blur(5px);
}

.weather.night {
	background-color: rgba(0,0,0,0.4);
}

.weather.day {
    background-color: rgba(255,255,255,0.4);
}

.weather .weather-spec-value {
	font-size:var(--norfont);
	font-weight: 500;
}

.weather .weather-spec-value > span {
	font-size:var(--micfont);
}

.weather.night .weather-spec-value {
	color: var(--white-1);
}

.weather .weather-spec-title {
	font-size:var(--micfont);
}

.weather.night .weather-spec-title {
	color: #bdbdbd;
}

.weather #weather-temperature {
	font-family: var(--roboto);
	font-size: 60px;
	font-weight: 100;
	line-height: 1;
}

.weather.night #weather-temperature {
	color: var(--white-1);
}

.weather .weather-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.weather .weather-spec {
	display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.weather .weather-spec > div {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.weather #weather-icon {
	height: 60px;
	width: 60px;
	object-fit:contain;
}

@media (max-width: 768px) {

.weather {
	position: relative;
    align-items: flex-end;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
	width: 100%;
	top: 0;
	gap: 10px;
	backdrop-filter: unset;
	background-color: transparent;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.weather #weather-phrase {
	font-family: var(--roboto);
	font-weight: 300;
}

.weather #weather-temperature {
    font-size: 40px;
}

.weather #weather-icon {
    height: calc(100% - 40px);
    width: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.weather .weather-main {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.weather .weather-spec {
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}

}