<div class="weather" id="weather">
	<div class="weather-main">
		<img id="weather-icon" src="">
		<p id="weather-temperature"></p>
	</div>
	<div class="weather-spec">
		<div>
			<p class="weather-spec-title">Wind</p>
			<p class="weather-spec-value" id="weather-wind"></p>
		</div>
		<div>
			<p class="weather-spec-title">Humidity</p>
			<p class="weather-spec-value" id="weather-humidity"></p>
		</div>
		<div>
			<p class="weather-spec-title">Precipitation</p>
			<p class="weather-spec-value" id="weather-precipitation"></p>
		</div>
	</div>
</div>