.weather {
position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	gap: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 14px;
    backdrop-filter: blur(5px);
}

.weather:hover {

}

.weather > div {
	display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.weather #weather-temperature {
	font-family: var(--roboto);
	font-size: 60px;
	font-weight: 100;
	color: var(--white-1);
	line-height: 1;
}

.weather #weather-icon {
	height: 60px;
	width: 60px;
	object-fit:contain;
}

.weather #weather-phrase {
	font-family: var(--montserrat);
	font-size: var(--norfont);
	font-weight: 400;
	color: var(--white-1);

}