/* Index */

html, body {
	height: 100%;
}

body {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
    justify-content: center;
}

@media (max-width: 768px) {

body {
    background-position: left center;
}

}

/* Page */

.pages {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: calc(100% - 48px);
}

.page-each {
	background-color: var(--white-2);
	position: absolute;
	z-index: 1;
	width: 30%;
	height: 30%;
	overflow: hidden;
	visibility: hidden;
	opacity:0;
	transform: translateY(-50px);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each.active {
	transform: translateY(0px);
	width: 100%;
	height: 100%;
	opacity:1;
	visibility: visible;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each.index {
	z-index:2;
}

.page-each .page-container {
	display: flex;
    flex-direction: column;
	gap: 60px;
	margin: 60px auto 0 auto;
	height: calc(100% - 60px);
	overflow: hidden;
	position: relative;
}

.page-each .page-container h1 {
	line-height: 1;
	font-size:60px;
	font-weight: 600;
	font-family: var(--poppins);
}

.page-each .page-container > div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-each .page-container > div.header > div.header-filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.page-each .page-container > div.content {
	height: 100%;
    overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.page-each .page-container > div.content::-webkit-scrollbar {
	display: none;
}

/* Overlay */

.page-each .overlay {
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each .overlay.active{
	visibility: visible;
	opacity: 1;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each .overlay .content {
	width: 750px;
	height: 650px;
	padding: 40px;
	background-color:var(--white-1);
	border-radius:14px;
	position: relative;
	z-index: 3;
	display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-each .overlay .content .title {
	font-size:var(--bigfont);
	font-weight: 600;
	font-family: var(--poppins);
}

.page-each .overlay .content-header {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-each .overlay .content-header > div {
	display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.page-each .overlay .content-header > img {
	width: 30px;
	cursor:pointer;
    height: 30px;
    object-fit: contain;
}

.page-each .overlay .content-main {
	display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-each .overlay .background {
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	position: absolute;
	z-index: 2;
}

.page-each .overlay.full .content {
	width: 100%;
    height: 100%;
}

.page-each .overlay.full .content-main {
	height: 100%;
}

@media (max-width: 768px) {

.pages {
	height: 100%;
}

.page-each .overlay .content {
    width: calc(100% - 20px);
    height: calc(100% - 68px);
    padding: 20px;
    margin-bottom: 48px;
}

.page-each .page-container h1 {
    font-size: var(--bigfont);
}

.page-each .page-container > div.content {
    padding-bottom: 68px;
}

.page-each .page-container > div.header {
	gap: 10px;
}
	
}

@media (max-width: 500px) {

.page-each .page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
	margin-bottom: 20px;
	height: calc(100% - 40px);
}

.page-each .overlay.full .content {
    width: 100%;
	height: calc(100% - 48px);
	border-radius:0;
}

.page-each .overlay .content-header > div {
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.page-each .overlay .content-header > div > div.title {
	width: 100%;
	display: flex;
}

.page-each .overlay .content-header > div > div.input-1 {
	width:calc(100% - 140px);
}

.page-each .overlay .content-header > div > div.input-1 input {
	width: 100%;
	box-sizing: border-box;
    height: 50px;
}

.page-each .overlay .content-header > div > div.imagecolor {
	display: flex;
	width: 120px;
	justify-content: flex-end;
}

.page-each .overlay.read .content-header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page-each .overlay .content-header > img {
	position: absolute;
    right: 20px;
}

}