html, body {
	height: 100%;
}

body {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
    justify-content: center;
}

.pages {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: calc(100% - 48px);
}

.page-each {
	background-color: var(--white-2);
	position: absolute;
	z-index: 1;
	width: 30%;
	height: 30%;
	overflow: hidden;
	visibility: hidden;
	opacity:0;
	transform: translateY(-50px);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each.active {
	transform: translateY(0px);
	width: 100%;
	height: 100%;
	opacity:1;
	visibility: visible;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each.index {
	z-index:2;
}

.page-each .overlay {
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each .overlay.active{
	visibility: visible;
	opacity: 1;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-each .overlay .content {
	width: 750px;
	height: 650px;
	padding: 40px;
	background-color:var(--white-1);
	border-radius:14px;
	position: relative;
	z-index: 3;
}

.page-each .overlay .content .title {
	font-size:var(--bigfont);
	font-weight: 600;
	font-family: var(--poppins);
}

.page-each .overlay .background {
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	position: absolute;
	z-index: 2;
}

.container.home {
	position:absolute;
	height: calc(100% - 48px);
}

.page-container {
	display: flex;
    flex-direction: column;
	gap: 60px;
	margin: 60px auto 0 auto;
	height: calc(100% - 60px);
	overflow: hidden;
	position: relative;
}

.page-container h1 {
	line-height: 1;
	font-size:60px;
	font-weight: 600;
	font-family: var(--poppins);
}

.page-container > div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-container > div.header > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.page-container > div.content {
	height: 100%;
    overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.page-container > div.content::-webkit-scrollbar {
	display: none;
}

/* Notes Page */

.page-notes .content {
	display: grid;
    grid-auto-rows: 230px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.page-notes .content .note-each {
	border-radius: 14px;
	cursor: pointer;
	padding: 18px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.page-notes .content .note-each.hide {
	display: none;
}

.page-notes .content .note-each .title,
.page-notes .content .note-each .date {
	font-family: var(--poppins);
}

/* Settings Page */

.page-settings .content {
	display: flex;
    flex-direction: row;
    gap: 60px;
}

.page-settings .page-container .page-nav {
	--top: 0px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	position: relative;
}

.page-settings .page-container .page-nav::before {
	content:"";
	border-radius: 6px;
	left: 0;
	top: calc(var(--top) + 10px);
	height: 36px;
	width: 3px;
	position: absolute;
	background-color: var(--blue-1);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-settings .page-container .page-nav > p {
    padding: 10px 30px;
	font-family: var(--poppins);
	font-size:var(--undfont);
	background-color: transparent;
	display: flex;
    align-items: center;
	cursor:pointer;
	width: 100%;
	height: 56px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-settings .page-container .page-nav > p.active {
	color: var(--blue-2);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-settings .page-container .page-content {
	background-color: var(--white-1);
	border-radius: 14px;
	width: 100%;
	height: 100%;
	padding: 30px;
}

.page-settings .page-container .page-content-each {
	display: none;
	flex-direction: column;
	gap: 30px;
}

.page-settings .page-container .page-content-each > div {
	display: flex;
	flex-direction: column;
}

.page-settings .page-container .page-content-each > div > h2 {
	font-family: var(--poppins);
	font-size:var(--bigfont);	
}

.page-settings .page-container .page-content-each > div > p {
	font-family: var(--poppins);
	font-size:var(--norfont);	
	color: var(--gray-1);
}

.page-settings .page-container .page-content-each > div > p > a {
	color: var(--blue-2);
	display: inline-block;
}

.page-settings .page-container .page-content-each > div > div {
	background-color: var(--white-2);
	border-radius: 14px;
	width: 100%;
	padding: 30px;
	margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-settings .page-container .page-content-each.active {
	display: flex;
}

@media (max-width: 768px) {

body {
    background-position: left center;
}

.page-container h1 {
    font-size: var(--bigfont);
}

.container.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	justify-content: flex-start;
    gap: 30px;
	height: calc(100% - 110px);
    margin-top: 20px;
    margin-bottom: 90px;
}

.pages {
	height: 100%;
}

.page-container > div.content {
    padding-bottom: 68px;
}

}

@media (max-width: 500px) {

.page-notes .content {
    grid-auto-rows: 180px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
	margin-bottom: 20px;
	height: calc(100% - 40px);
}

}