/* Notes */

.page-notes .page-container .content {
	display: grid;
    grid-auto-rows: 230px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.page-notes .page-container .content .note-each {
	border-radius: 14px;
	cursor: pointer;
	padding: 18px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
	position: relative;
	overflow: hidden;
}

.page-notes .page-container .content .note-each.hide {
	display: none;
}

.page-notes .page-container .content .note-each .title,
.page-notes .page-container .content .note-each .date {
	font-family: var(--poppins);
	position: relative;
    z-index: 1;
}

.page-notes .page-container .content .note-each.dark .title, 
.page-notes .page-container .content .note-each.dark .date {
	color:white;
}

.page-notes .page-container .content .note-each .backgroundImage {
	position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    border-radius: 8px;
    height: calc(100% - 20px);
    z-index: 0;
    object-fit: cover;
}

.page-notes .page-container .content .note-each.active button {
	bottom: 10px;
	border-radius: 8px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-notes .page-container .content .note-each button {
	position: absolute;
	justify-content: center;
    width: calc(100% - 100px);
	bottom: -100%;
	z-index: 2;
	left: 10px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

@media (max-width: 1080px) {
	
.page-notes .page-container .note-filter {
	display: none;
}

}

@media (max-width: 500px) {

.page-notes .page-container  .content {
    grid-auto-rows: 180px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.page-notes .overlay .content-main > .button,
.page-notes .overlay .content-main > .input input {
	height: 45px;
	width: 100%;
	box-sizing: border-box;
}

}