/* Settings */

.page-settings .content {
	display: flex;
    flex-direction: row;
    gap: 60px;
}

.page-settings .page-container .page-nav {
	--top: 0px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	position: relative;
}

.page-settings .page-container .page-nav::before {
	content:"";
	border-radius: 6px;
	left: 0;
	top: calc(var(--top) + 10px);
	height: 36px;
	width: 3px;
	position: absolute;
	background-color: var(--blue-1);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-settings .page-container .page-nav > p {
    padding: 10px 30px;
	font-family: var(--poppins);
	font-size:var(--undfont);
	background-color: transparent;
	display: flex;
    align-items: center;
	cursor:pointer;
	width: 100%;
	height: 56px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-settings .page-container .page-nav > p.active {
	color: var(--blue-2);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.page-settings .page-container .page-content {
	background-color: var(--white-1);
	border-radius: 14px;
	width: 100%;
	height: 100%;
	padding: 30px;
}

.page-settings .page-container .page-content-each {
	display: none;
	flex-direction: column;
	gap: 30px;
}

.page-settings .page-container .page-content-each > div {
	display: flex;
	flex-direction: column;
}

.page-settings .page-container .page-content-each > div > h2 {
	font-family: var(--poppins);
	font-size:var(--bigfont);	
}

.page-settings .page-container .page-content-each > div > p {
	font-family: var(--poppins);
	font-size:var(--norfont);	
	color: var(--gray-1);
	margin-top: 10px;
	line-height: 1.6;
}

.page-settings .page-container .page-content-each > div > p > a {
	color: var(--blue-2);
	display: inline-block;
}

.page-settings .page-container .page-content-each > div > div {
	background-color: var(--white-2);
	border-radius: 14px;
	width: 100%;
	padding: 30px;
	margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-settings .page-container .page-content-each.active {
	display: flex;
}

.page-settings .input-1 > .isEmpty + label{
    background-color: var(--white-2);
}
